tensorflow<2.0>=1.12
numpy
matplotlib
easydict
-e git+https://github.com/tensorflow/privacy@bb89ba6963e43ea3a44c7d93bcdf44d44449ec4b#egg=privacy
tf-encrypted
pathlib
ruamel.yaml
pandas
GitPython
jupyter
seaborn
